# frontend
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# python and alembic
.venv
*.pyc
__pycache__/
Backend/alembic/README

# database
Database/data

# vscode
*.code-workspace

# sensitive info
.env
frontend/.env*

# deployment specific
Backend/deploy
Frontend/firebase*
Frontend/.firebase*

# gunicorn
Backend/*.ctl